.theme-container.custom-page-class {
  width: 100%!important;
}

.theme-container.custom-page-class.page-edit {
  display: none;
}

.theme-container.custom-page-class.content {
  width: 100%!important;
}
